input, select{
	height:2.5em;
	margin-right:2px;
	font-size:inherit;
}

.resultSummary, .oneCrit{
	height:30px;
}

.value{
	width:350px;
}

.valWrapper{
	width:350px;
}

.operatorIcon{
	height:100%;
}

.oneAttr{
	margin-left:30px;
}

.oneKeyContainer:hover {
    color:blue;
    cursor: pointer; 
    cursor: hand;
}

a{
	cursor:pointer;
	cursor:hand;
}


.oneCrit{
	margin-bottom:25px;
	font-size:20px;
}