input, select{
	height:2.5em;
	margin-right:2px;
	font-size:inherit;
}

.resultSummary, .oneCrit{
	height:30px;
}

.value{
	width:350px;
}

.valWrapper, .valTypeIndicator{
	width:350px;
}

.operatorIcon{
	height:100%;
}

.oneAttr{
	margin-left:30px;
}

.oneKeyContainer{
	font-size:14px;
	line-height:1.2em;
}

.oneKeyContainer > .key:hover {
    color:blue;
    cursor: pointer; 
    cursor: hand;
}

.oneKeyContainer > .key{
	font-weight:bold;
	
}

.oneKeyContainer > .stats{
	font-size:95%;
	margin-left:20px;
}



a{
	cursor:pointer;
	cursor:hand;
}


.oneCrit{
	margin-bottom:25px;
	font-size:20px;
	clear:both;
}

.oneCrit > *{
	float:left;
}

.nobullets {
	list-style-type:none;
}


.valTypeIndicator{
	height:10px;
	font-size:12px;
	color:grey;
}

