input, select{
	height:30px;
}

.resultSummary, .oneCrit{
	height:30px;
}

.operatorIcon{
	height:100%;
}

.oneAttr{
	margin-left:30px;
}

.oneKeyContainer:hover {
    color:blue;
    cursor: pointer; 
    cursor: hand;
}