.boolType{
	color:orange;
	font-weight:bold;
}

.stringType{
	color:blue;
	font-weight:bold;
}

.noneType{
	color:brown;
	font-weight:bold;
}

.numType{
	color:red;
	font-weight:bold
}

.oidType{
	color:violet;
	font-weight:bold;
	
}