<head>
<script type="text/javascript" src="/static/jscript/jquery-1.7.1.min.js"></script>
<script type='text/javascript'>
keyStats = 5;
function getKeyStats(){
	data = {};
	data["dbName"] = "{{db.name}}"
	data["colName"] = "{{col.name}}"
	$.getJSON("/ajax/getkeystats", data, function(data){keyStats = data['stats']; console.log("data received")})
}

function printKeyStats(keyStats, div){
	console.log("running")
	for (var key in keyStats){
		var li = document.createElement("li");
		$(li).append(key);
		subKeys = Object.keys(keyStats[key]['subKeys']);
		if(subKeys.length > 0){ //if there are subkeys to print
			console.log("subkeys found for " + key);
			var subKeysDiv = document.createElement("li");
			console.log("passing " + keyStats[key]['subKeys'])
			printKeyStats(keyStats[key]['subKeys'], subKeysDiv);
			$(li).append(subKeysDiv)
		}
		$(div).append($(li))
	}
}
</script>
</head>


<a href='/'>Home</a> -> <a href="/db/{{db.name}}">{{db.name}}</a>
Collection: {{col.name}}
<br><br>
This collection has {{col.count()}} entries.

This collection has the following schemas: <br>
<button onclick="getKeyStats()">get Stats</button><br>
<button onclick="printKeyStats(keyStats, '#keyStatsDiv')">print</button>

<ul id="keyStatsDiv">

</ul>
