<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/colView.css">
	<link rel="stylesheet" type="text/css" href="/static/css/types.css">
	<script src="/static/jscript/jquery-1.7.1.min.js"></script>
	
	<link rel="stylesheet" href="/static/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
	<script src="/static/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
	
	<script src="/static/jscript/colView.js"></script>
	<script src="/static/jscript/printDocument.js"></script>
	
	
	
	
	<script>
	//$(document).bind('keydown', 'ctrl+a', changeValueType);
	$(document).ready(function(){
		$(".oneKeyContainer").click(loadDistinctVals)
	
	dbName = "{{dbName}}"
	colName = "{{colName}}"
	dbKeys = null
	$.ajax({url:'/ajax/getKeysList', type:'POST', data:JSON.stringify({'colName':colName,'dbName':dbName}), contentType:'application/json', 
	success:function(data){
		dbKeys = data['keys']
		makeAutocompleteField($('#sortField'))
		appendCriteriaField()
	}})
	})//document.ready
	</script>
</head>

<body style="padding:20px;">
<div id="breadCrumbPath"><h2><a href='/'>Home</a> -> <a href='/db/{{dbName}}'>{{dbName}}</a> -> {{colName}}</h2></div>
<div style="font-size:30px;height:35px;margin-top:10px;margin-left:15px;">{{count}} total entries</div>

<div id="schema" style="float:left;width:50%;height:100px;overflow:hidden;">
	
	{% if schema == None %}
		Scan the Table to create a schema and enable autocomplete
	{% else %}
		<ul>
		{% for key in schema %}
		<li class="oneKeyContainer" data-field="{{key['_id']['key']}}">{{key['_id']['key']}} ({{key['percentContaining']}}% / #{{key['totalOccurrences']}}) [{{key['value']['type']}}]</li>
	
		{% endfor %}
		</ul>
	{% endif %}
	
</div> <!--Schema div -->
<script>$("#schema").data('expanded', false)</script>


<span id="fieldInfo" style="float:left;">
<h2>Field Info</h2>
	<div id="fieldlist"></div>
</span> <!--fieldInfo-->

<div style="width:100%;clear:both;"></div>
<div><a id="schemaExpand" onclick="javscript:toggleSchemaExpand()">Expand/Collapse</a></div>
<button onclick="javascript:loadSchema()">Get Schema</button>
<div style="margin-bottom:20px;" id="queryDiv" style="clear:both";></div>



<h2>Query Div</h2>
	<button onclick="javascript:appendCriteriaField()">Add Field</button>
	<!--appendCriteriaField dynamically puts fields here -->
</div> <!--queryDiv-->
<div id='sortDiv'>
	Sorty by:<input id='sortField' type="text" placeholder='field'>
	<select id='sortDirection'>
		<option value='1'>Ascending</option>
		<option value='-1'>Descending</option>
	</select>
</div> <!--sort div -->
<button onclick="javascript:querySkip=0;query(querySkip, pageSize)">Search</button>
<div id="queryCount"></div>
<div id="resultsDiv">
	<!--results will be placed here by javascript -->
</div> <!--resultsDiv-->
<a style="cursor:pointer;cursor:hand" onclick="javascript:alert('not implemented yet')">Previous</a> <a style="cursor:pointer;cursor:hand" onclick="querySkip=querySkip+pageSize;javascript:query(querySkip, pageSize)">Next</a>
</body>